<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Garde</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../routes/pageperso.js"></script>

</head>
<body>
    <div class="navbar">
        <a href="/">Accueil</a>
        <a id="ListeUsers" href="/users/usersList">Utilisateurs</a>
        <a href="/organisations/organisationsList">Organisations</a>
        <a href="/fichesPoste/fichesPosteListe">Fiches de poste</a>
        <a href="/offresemploi/offresemploilist">Offres d'emploi</a>

        
        <a href="/pageperso" class="right">Page Personnelle</a>

    </div>

<style>  
.right {
    margin-left: auto;
}
  .navbar {
      background-color: black; /* Couleur de fond de la barre de navigation */
      overflow: hidden; /* Assure que le contenu de la barre ne déborde pas */
  }
  
  /* Styles des liens de la barre de navigation */
  .navbar a {
      float: left; /* Positionnement des liens à gauche */
      display: block; /* Affichage en bloc */
      color: white; /* Couleur du texte */
      text-align: center; /* Alignement du texte au centre */
      padding: 14px 20px; /* Espacement autour du texte */
      text-decoration: none; /* Pas de soulignement pour les liens */
      font-size: 17px; /* Taille de la police */
  }
  
  /* Changement de la couleur de fond du lien au survol */
  .navbar a:hover {
      background-color: #ddd;
      color: black;
  }</style>
 
</body>
</html>
<script> /*  
    document.addEventListener("DOMContentLoaded", function() {
        var usersLink = document.getElementById("ListeUsers");
    
        usersLink.style.display = "none";
    
        // Fetch the user's role from the "/user-info" endpoint
        fetch('/pageperso/user-info')
            .then(response => response.json())
            .then(user => {
                // Get the user's role
                var userRole = user.role;
    
                // Get the "Utilisateurs" link element
    
                // Check if the user's role is "recruteur"
                if (userRole === "administrateur") {
                    // If the user's role is "recruteur", display the "Utilisateurs" link
                    usersLink.style.display = "block";
                } else {
                    // If the user's role is not "recruteur", hide the "Utilisateurs" link
                    usersLink.style.display = "none";
                }
            })
            .catch(error => console.error('Error:', error));
    });*/
    </script>