<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <div class="content">
        <div class="main-content">
            <div class="form-column">
                <form action="/organisations/addtype" method="post" id="typeForm">
                    <div>
                        <label for="type">Type :</label>
                        <input type="text" id="type" name="type" required>
                    </div>
                    <div>
                        <button  class="btn btn-primary" type="submit" id="addType">Ajouter Type</button>
                    </div>
                </form>
                <form id="organisationForm" action="/organisations/addorganisation" method="post">
                    <div>
                        <label for="siren">Siren :</label>
                        <input type="text" id="siren" name="siren" required>
                    </div>
                    <div>
                        <label for="nom">Nom :</label>
                        <input type="text" id="nom" name="nom" required>
                    </div>
                    <div>
                        <label for="adrSiegeSocial">Adresse Siege Social :</label>
                        <input type="text" id="adrSiegeSocial" name="adrSiegeSocial" required>
                    </div>
                    <div>
                        <label for="typeId">Type ID :</label>
                        <select id="typeId" name="typeId" required>
                            <option value="">Sélectionnez un type</option>
                        </select>
                    </div>

                    <div>
                        <button class="btn btn-primary" type="submit" id="addOrganisation">Créer votre Organisation</button>
                    </div>
                </form>
                <script src="/javascripts/utilitaires.js"></script>
            </div>
        </div>
    </div>
    <div class="return-button">
        <button type="button" onclick="window.history.go(-1);">Revenir à la page précédente</button>
    </div>

    <script>

async function fetchTypes() {
    try {
        const response = await fetch('/organisations/readTypes');
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        const types = await response.json();

        const select = document.getElementById('typeId');
        if (select) {
            types.forEach(type => {
                const option = document.createElement('option');
                option.value = type.id;
                option.textContent = type.nom; // Affiche uniquement le nom
                select.appendChild(option);
            });
        } else {
            console.error('Element select not found');
        }
    } catch (error) {
        console.error('Error fetching types:', error);
        alert('Erreur lors de la récupération des types.');
    }
}
document.addEventListener('DOMContentLoaded', fetchTypes);


             document.getElementById('typeForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const type = document.getElementById('type').value;

                fetch('/organisations/addtype', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ nomType: type })
                })

                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
                alert('Type enregistré avec succès!');
                window.location.href = 'http://localhost:3000/organisations/organisationsList';
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Erreur lors de l\'enregistrement du type.');
            });

        });

        document.getElementById('organisationForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            console.log("Formulaire organisation soumis");

            const formData = {
                siren: document.getElementById('siren').value,
                nom: document.getElementById('nom').value,
                adrSiegeSocial: document.getElementById('adrSiegeSocial').value,
                typeId: document.getElementById('typeId').value
            };
            console.log("FormData:", formData);

            try {
                const orgaResponse = await fetch('/organisations/addorganisation', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formData)
                });

                const orgaResult = await orgaResponse.json();
                console.log("Organisation response received:", orgaResult);

                if (orgaResponse.ok) {
                    alert('Organisation enregistrée avec succès!');
                    window.location.href = 'http://localhost:3000/organisations/organisationsList';
                } else {
                    alert('Erreur lors de l\'enregistrement de l\'organisation');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Erreur lors de l\'enregistrement de l\'organisation');
            }
        });
    </script>
</body>
</html>
