<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/listes.css">
    <link rel="stylesheet" href="/stylesheets/offresEmploi.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <h1 class="heading">Offres d'emploi</h1>
    <div class="main-content">
        <div class="left-column">
            <input type="search" name="searchbar" id="searchbar" class="searchbar" placeholder="Rechercher une offre...">
            <div id="offresList"></div>
            <div id="pagination" class="container-row hundred"></div>
        </div>
        <div class="right-column">
            <div class="container-column offer-card">
                <div class="cardTitle">
                    Filtres
                </div>
                <div>
                    <label for="salaireMin">Salaire</label>
                    <input type="text" name="salaireMin" id="salaireMin" placeholder="Min" oninput="salaryFilter()"> - <input type="text" name="salaireMax" id="salaireMax" placeholder="Max" oninput="salaryFilter()">
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>


<script src="/javascripts/filter.js"></script>
<script src="/javascripts/utilitaires.js"></script>

<script>
async function handleOfferDetailsClick(offreId) {
    try {
        const response = await fetch('/pageperso/user-info');
        const user = await response.json();
        console.log(user);

        if (user && user.role) {
            window.location.href = `http://localhost:3000/detailsoffre/${offreId}`;
        } else {
            alert("Vous devez être connecté pour voir les détails de l'offre.");
            window.location.href = 'http://localhost:3000/connexion';
        }
    } catch (error) {
        console.error('Error fetching user info:', error);
        alert("Une erreur s'est produite. Veuillez réessayer plus tard.");
    }
}
    const initialOffers = <%- JSON.stringify(allOffers) %>;
    let currentOffers = orderByDate(initialOffers);


    document.addEventListener("DOMContentLoaded", function() {
        const pagination = document.getElementById("pagination");
        const rowsPerPage = 4;
        const offresContainer = document.getElementById("offresList");

        renderList(currentOffers, 'offresList', createOfferCard);
        setupPagination(currentOffers, pagination, rowsPerPage, offresContainer, renderOffreEmploiCard, false);
    });
  

    const searchbar = document.getElementById('searchbar');
    searchbar.addEventListener('input', (event) => {
        const filteredList = search(
            initialOffers,
            ['organisation_nom', 'lieuMission', 'etatOffre', 'rythme', 'statutPoste_nom', 'metier_nom'],
            event.target.value,
        );
        currentOffers = orderByDate(filteredList);
        renderList(currentOffers, 'offresList', createOfferCard);
    })

    function salaryFilter() {
        const minSalary = document.getElementById('salaireMin');
        const maxSalary = document.getElementById('salaireMax');
        const filteredList = filterBySalary(initialOffers, minSalary, maxSalary);
        currentOffers = orderByDate(filteredList);
        renderList(currentOffers, 'offresList', createOfferCard);
    }

    function createOfferCard(offre) {
        const cardDiv = document.createElement('div');
        cardDiv.classList.add('offer-card');
        cardDiv.innerHTML = renderOffreEmploiCard(offre);
        return cardDiv;
    }


</script>

</body>
