@import url("./general.css");

/* Global Styles */
body {
    background-color: #f2f2f2;
    margin: 0;
    padding-bottom: 20px; /* Added padding to ensure there's always some space at the bottom */
}



/* Navigation Bar */
nav {
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}




/* Main Content */
.content {
    align-items: center; /* Center content horizontally */
    margin: 70px auto; /* Adjust this margin to avoid overlap with the navbar */
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    min-width: 300px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding : 20px;
    padding-bottom: 50px;
}

.info {
    padding-top: 10px;
}



/* Left Column */
.left-column {
    flex-wrap: wrap;
    /* padding-right : 20px; */
    width : 65%;
}



/* Ensure Header spans the entire content div and is centered */
.header {
    flex: 1 0 100%;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.header h2 {
    font-weight: bold;
    margin: 0;
    font-size: 1.5em;
}

.header .status {
    font-size: 0.9em;
    color: green;
}






/* Right Column */
.right-column {
    display: flex;
    flex-direction: column;
    width: auto;
}


.right-column .little_blue_card {
    background-color: #D5F5FF;
    border-radius: 10px;
    padding: 7px 14px;  /* 1st value : top & bottom,  2nd : right & left */
    width: max-content;
}


/* Return Button */
.return-button {
    text-align: center;
}

.return-button button {
    padding: 7px 15px;
    margin-bottom: 7px;
    border: none;
    border-radius: 5px;
    background-color: #6F74E7;
    color: #ffffff;
    cursor: pointer;
}

.return-button button:hover {
    background-color: #595db9;
}






/* class soumission-candidature et Form */
.soumission-candidature{
    align-items: center;
    text-align: center;
    background-color: #ededfc;
    border-radius: 10px;
    padding: 12px 14px;  /* 1st value : top & bottom,  2nd : right & left */
}

.title-candidature{
    font-size : 20px;
}


form {
    display: flex;
    flex-direction: column;
}

form .form-group {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
}

.file-label{
    width: 50%;
    text-align: justify;
    padding-right: 5%;
}
.file-upload{
    width: 50%;
}

form label {
    margin-bottom: 5px;
    font-weight: 600;/* equivalent semibold for Poppins font*/
}

form input, form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.buttons .btn-secondary {
    background-color: #6F74E7;
    color: #ffffff;
}

.buttons .btn-secondary:hover {
    background-color: #595db9;
}

